
 <% provide(:title, @user.name) %>
<div class="row">
  <div class="col-md-1">
    
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-1"></div>
  <div class="col-md-1"></div>
  <div class="col-md-1"></div>
  <div class="col-md-3">
   <%= render 'shared/notice' %>
  <p class="navbar-text navbar-right">Signed in as <a href="#" class="navbar-link"><%= @user.name %></a></p>
  <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
  </h1>
    </div>
  
  
  <div class="col-md-1"></div>
  <div class="col-md-1"></div>
  <div class="col-md-1"></div>
  <div class="col-md-1"></div>
</div>