<!--    Navigation Markup start for home page here-->


<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'GanjaMap', home_index_path, class: 'navbar-brand' %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="Ganjamap-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#"><span class="fa fa-instagram "></span></a></li>
        <li><a href="#"><i class="fa fa-spinner fa-spin"></i></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa  fa-ambulance"></i><b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      
      <%= form_tag(@ganjaloc, method: "get",role: "search", class: "navbar-form navbar-left" ) do %>
      
        <div class="form-group">
        <%= text_field_tag :search, params[:search], placeholder: "Search", class: "form-control" %>
          </div>
        
        <%= submit_tag "Search", class: "btn btn-ganja", :name => nil do %>
  
         <span class="glyphicon glyphicon-search"></span>
        <%end %>
    
      <%end %>
      
      
      
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="fa fa-facebook-square"></span></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>




<!--Navigation Markup End Here-->

<!--Navigation Markup End Here-->
