<table class="table table-responsive table-bordered table-condensed">
  <thead>
    <tr>
      
      <th>Address</th>
      
    </tr>
  </thead>

  <tbody>
  
    <% @coffeshoplocs.each do |coffeshoploc| %>
      <tr>
        
        <td><%= coffeshoploc.address %></td>
           
      </tr>
    <% end %>
  </tbody>
</table>
<!-- Work done by DAWIT HAILE ACHAMYELHE -->
