

<h3>Nearby Locations</h3>
<ul>
<% for location in @ganjaloc.nearbys(10) %>
  <li><%= link_to ganjaloc.address, ganjaloc %> (<%= ganjaloc.distance.round(2) %> miles)</li>
<% end %>
</ul>




<%= link_to 'Edit', edit_ganjaloc_path(@ganjaloc) %> |
<%= link_to 'Back', ganjalocs_path %>
