$navbar-height:                    80px !default;
$border-radius-base:               1px;


$grid-gutter-width:                30px !default;

$navbar-collapse-max-height:       340px !default;
$navbar-default-brand-color:       #FFFFFF !default;
$navbar-default-color:            rgb(51, 51, 51) !default;
$navbar-default-bg:                #6AD97B !default;
$navbar-default-border:            darken($navbar-default-bg, 0.8%) !default;

// Navbar links
$navbar-default-link-color:                #000000 !default;
$navbar-default-link-hover-color:          #333 !default;
$navbar-default-link-hover-bg:             transparent !default;
$navbar-default-link-active-color:         #FFFFFF !default;
$navbar-default-link-active-bg:            darken($navbar-default-bg, 6.5%) !default;
$navbar-default-link-disabled-color:       #ccc !default;
$navbar-default-link-disabled-bg:          transparent !default;

// Navbar brand label
$navbar-default-brand-color:               $navbar-default-link-color !default;
$navbar-default-brand-hover-color:         darken($navbar-default-brand-color, 10%) !default;
$navbar-default-brand-hover-bg:            transparent !default;

// Navbar toggle
$navbar-default-toggle-hover-bg:           #ddd !default;
$navbar-default-toggle-icon-bar-bg:        #888 !default;
$navbar-default-toggle-border-color:       #ddd !default;

//$gray-lighter:           lighten(#000, 93.5%) !default;
$gray-lighter:             #055c28 !default;

$padding-base-vertical: 6px;
$padding-base-horizontal:12px;
$btn-font-weight: 600;
$font-size-base: 17px;
$border-radius-base-btn-search: 4px;

//%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

@import "bootstrap";

//%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%









//
// Navbars
// --------------------------------------------------


// Wrapper and base class
//
// Provide a static navbar from which we expand to create full-width, fixed, and
// other navbar variations.

.navbar {
  position: relative;
  min-height: $navbar-height; // Ensure a navbar always shows (e.g., without a .navbar-brand in collapsed mode)
  margin-bottom: 0px;
  border: 5px solid transparent;

  // Prevent floats from breaking the navbar
  @include clearfix();

  @media (min-width: $grid-float-breakpoint) {
    border-radius: $navbar-border-radius;
  }
}

// Navbar heading
//
// Groups `.navbar-brand` and `.navbar-toggle` into a single component for easy
// styling of responsive aspects.

.navbar-header {
  @include clearfix();

  @media (min-width: $grid-float-breakpoint) {
    float: left;
  }
}

// Navbar collapse (body)
//
// Group your navbar content into this for easy collapsing and expanding across
// various device sizes. By default, this content is collapsed when <768px, but
// will expand past that for a horizontal display.
//
// To start (on mobile devices) the navbar links, forms, and buttons are stacked
// vertically and include a `max-height` to overflow in case you have too much
// content for the user's viewport.

.navbar-collapse {
  max-height: $navbar-collapse-max-height;
  overflow-x: visible;
  padding-right: $navbar-padding-horizontal;
  padding-left:  $navbar-padding-horizontal;
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
  @include clearfix();
  -webkit-overflow-scrolling: touch;

  &.in {
    overflow-y: auto;
  }

  @media (min-width: $grid-float-breakpoint) {
    width: auto;
    border-top: 0;
    box-shadow: none;

    &.collapse {
      display: block !important;
      height: auto !important;
      padding-bottom: 0; // Override default setting
      overflow: visible !important;
    }

    &.in {
      overflow-y: visible;
    }

    // Undo the collapse side padding for navbars with containers to ensure
    // alignment of right-aligned contents.
    .navbar-fixed-top &,
    .navbar-static-top &,
    .navbar-fixed-bottom & {
      padding-left: 0;
      padding-right: 0;
    }
  }
}


// Both navbar header and collapse
//
// When a container is present, change the behavior of the header and collapse.

.container,
.container-fluid {
  > .navbar-header,
  > .navbar-collapse {
    margin-right: 0;
    margin-left:  0;

    @media (min-width: $grid-float-breakpoint) {
      margin-right: 0;
      margin-left:  0;
    }
  }
}


//
// Navbar alignment options
//
// Display the navbar across the entirety of the page or fixed it to the top or
// bottom of the page.


// Brand/project name

.navbar-brand {
  font-size: 30px;
  float: left;
  padding: $navbar-padding-vertical $navbar-padding-horizontal;
  font-weight: 800;
  height: $navbar-height;
  font-family: 'Krona One','Julius Sans One','Raleway', Helvetica, Arial, sans-serif;
  &:hover,
  &:focus {
    text-decoration: none;
  }

  @media (min-width: $grid-float-breakpoint) {
    .navbar > .container &,
    .navbar > .container-fluid & {
     margin-left:  0px; //margin-left: -$navbar-padding-horizontal;
    }
  }
}


// Navbar toggle
//
// Custom button for toggling the `.navbar-collapse`, powered by the collapse
// JavaScript plugin.

.navbar-toggle {
  position: relative;
  float: right;
  margin-right: $navbar-padding-horizontal;
  padding: 9px 10px;
  @include navbar-vertical-align(34px);
  background-color: transparent;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid transparent;

  // We remove the `outline` here, but later compensate by attaching `:hover`
  // styles to `:focus`.
  &:focus {
    outline: none;
  }

  // Bars
  .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
  }
  .icon-bar + .icon-bar {
    margin-top: 4px;
  }

  @media (min-width: $grid-float-breakpoint) {
    display: none;
  }
}


// Navbar nav links
//
// Builds on top of the `.nav` components with its own modifier class to make
// the nav the full height of the horizontal nav (above 768px).

.navbar-nav {
  margin: ($navbar-padding-vertical / 2) (-$navbar-padding-horizontal);

  > li > a {
    padding-top:    10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (max-width: $grid-float-breakpoint-max) {
    // Dropdowns get custom display when collapsed
    .open .dropdown-menu {
      position: static;
      float: none;
      width: auto;
      margin-top: 0;
      background-color: transparent;
      border: 0;
      box-shadow: none;
      > li > a,
      .dropdown-header {
        padding: 5px 15px 5px 25px;
      }
      > li > a {
        &:hover,
        &:focus {
          background-image: none;
        }
      }
    }
  }

  // Uncollapse the nav
  @media (min-width: $grid-float-breakpoint) {
    float: left;
    margin: 0;

    > li {
      float: left;
      > a {
        padding-top:    $navbar-padding-vertical;
        padding-bottom: $navbar-padding-vertical;
      }
    }

    &.navbar-right:last-child {
      margin-right: -$navbar-padding-horizontal;
    }
  }
}





// Navbar form
//
// Extension of the `.form-inline` with some extra flavor for optimum display in
// our navbars.

.navbar-form {
  margin-left: -$navbar-padding-horizontal;
  margin-right: -$navbar-padding-horizontal;
  padding: 10px $navbar-padding-horizontal;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  $shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.1);
  @include box-shadow($shadow);

  // Mixin behavior for optimum display
  @extend .form-inline;

  .form-group {
    @media (max-width: $grid-float-breakpoint-max) {
      margin-bottom: 5px;
    }
  }

  // Vertically center in expanded, horizontal navbar
  @include navbar-vertical-align($input-height-base);

  // Undo 100% width for pull classes
  @media (min-width: $grid-float-breakpoint) {
    width: auto;
    border: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    @include box-shadow(none);

    // Outdent the form if last child to line up with content down the page
    &.navbar-right:last-child {
      margin-right: -$navbar-padding-horizontal;
    }
  }
}


// Dropdown menus

// Menu position and menu carets
.navbar-nav > li > .dropdown-menu {
  margin-top: 0;
  @include border-top-radius(0);
}


// Buttons in navbars
//
// Vertically center a button within a navbar (when *not* in a form).

.navbar-btn {
  @include navbar-vertical-align($input-height-base);

  &.btn-sm {
    @include navbar-vertical-align($input-height-small);
  }
  &.btn-xs {
    @include navbar-vertical-align(22);
  }
}




// Text in navbars
//
// Add a class to make any element properly align itself vertically within the navbars.

.navbar-text {
    @media (min-width: $grid-float-breakpoint) {
    float: left;
    margin-left: $navbar-padding-horizontal;
    margin-right: $navbar-padding-horizontal;

    // Outdent the form if last child to line up with content down the page
    &.navbar-right:last-child {
      margin-right: 0;
    }
  }
}

// Alternate navbars
// --------------------------------------------------

// Default navbar
.navbar-default {
  background-color: $navbar-default-bg;
  border-color: $navbar-default-border;

  .navbar-brand {
    color: $navbar-default-brand-color;
    &:hover,
    &:focus {
      color: $navbar-default-brand-hover-color;
      background-color: $navbar-default-brand-hover-bg;
    }
  }

  .navbar-text {
    color: collor;    //$navbar-default-color;
  }

  .navbar-nav {
    > li > a {
      color: white;   //$navbar-default-link-color;

      &:hover,
      &:focus {
        color: $navbar-default-link-hover-color;
        background-color: $navbar-default-link-hover-bg;
      }
    }
    > .active > a {
      &,
      &:hover,
      &:focus {
        color: $navbar-default-link-active-color;
        background-color: $navbar-default-link-active-bg;
      }
    }
    > .disabled > a {
      &,
      &:hover,
      &:focus {
        color: $navbar-default-link-disabled-color;
        background-color: $navbar-default-link-disabled-bg;
      }
    }
  }

  .navbar-toggle {
    border-color: green;                   //$navbar-default-toggle-border-color;
    &:hover,
    &:focus {
      background-color: yellow;              // $navbar-default-toggle-hover-bg;
    }
    .icon-bar {
      background-color: red;    //$navbar-default-toggle-icon-bar-bg;
    }
  }

  .navbar-collapse,
  .navbar-form {
    border-color: $navbar-default-border;
  }

  // Dropdown menu items
  .navbar-nav {
    // Remove background color from open dropdown
    > .open > a {
      &,
      &:hover,
      &:focus {
        background-color: $navbar-default-link-active-bg;
        color: $navbar-default-link-active-color;
      }
    }

    @media (max-width: $grid-float-breakpoint-max) {
      // Dropdowns get custom display when collapsed
      .open .dropdown-menu {
        > li > a {
          color: $navbar-default-link-color;
          &:hover,
          &:focus {
            color: $navbar-default-link-hover-color;
            background-color: $navbar-default-link-hover-bg;
          }
        }
        > .active > a {
          &,
          &:hover,
          &:focus {
            color: $navbar-default-link-active-color;
            background-color: $navbar-default-link-active-bg;
          }
        }
        > .disabled > a {
          &,
          &:hover,
          &:focus {
            color: $navbar-default-link-disabled-color;
            background-color: $navbar-default-link-disabled-bg;
          }
        }
      }
    }
  }


  // Links in navbars
  //
  // Add a class to ensure links outside the navbar nav are colored correctly.

  .navbar-link {
    color: $navbar-default-link-color;
    &:hover {
      color: $navbar-default-link-hover-color;
      
    }
  }

}


.form-control {
  margin-top: 0px;
  height: 40px;
  font-family: 'Krona One','Julius Sans One','Raleway', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.428571429;
  color: #610aa3;
  vertical-align: middle;

  background-image: none;
  border: 2px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  margin-bottom: 0px;
}
body {

    font-family: 'Krona One','Julius Sans One','Raleway', Helvetica, Arial, sans-serif;
  background: #f2feD3;
  






}

h1, h2, h3, h4 {
  margin-top: 0;
  line-height: 1.2;
  font-family: 'Krona One','Julius Sans One','Raleway', Helvetica, Arial, sans-serif;
}

ul li, ol li {
  margin: 0px 0;
  font-size: 15px;
  font-family: 'Julius Sans One','Merriweather', Georgia, Times New Roman, serif;
  line-height: 1.6;
  color: #697b92;
}
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('/assets/glyphicons-halflings-regular.eot');
  src: url('/assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/assets/glyphicons-halflings-regular.woff') format('woff'), url('/assets/glyphicons-halflings-regular.ttf') format('truetype'), url('/assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}



.container-wrapper-sub-footer {
  margin-bottom: 0;
  background: url(../img/pattern.jpg) 0 0 repeat #f3f3f3;
  text-shadow: none;
  h3, h4, p {
    color: #333;
  }
  h4 {
    font-size: 15px;
    font-weight: 600;
    color: #888;
    text-transform: uppercase;
  }
  .row {
    margin-bottom: 0;
  }
  .list-tweets li {
    margin: 0 10px 20px 0;
    p {
      font-style: italic;
    }
    a.btn {
      font-style: normal;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  .post {
    margin: 0 20px 0 0;
    padding: 0;
    position: relative;
    border: none;
    .post-thumb {
      margin-right: 10px;
      display: block;
      width: 20%;
    }
    .post-details {
      width: 75%;
      p {
        color: #333;
      }
    }
  }
}

footer {
  margin-bottom: 0;
  padding: 0;
  background: #E0401c;
  border: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  text-shadow: 0 1px 0 #000;
  .container {
    padding: 80px 0;
    text-align: center;
    .row {
      margin: 0 !important;
    }
  }
  .col-md-12 {
    margin: 0;
  }
  p {
    margin: 0;
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    font-size: 14px;
    text-align: center;
    color: #fff;
  }
  .list-circle-icons {
    margin: 0 0 10px;
    display: block;
    li {
      padding: 0;
      height: auto;
      width: auto;
      background: none;
      a {
        padding: 10px;
        height: 45px;
        width: 45px;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        line-height: 36px;
        background-color: #6AD97B;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -o-border-radius: 100%;
        border-radius: 100%;
        &:hover {
          text-decoration: none;
          background: #FFC800;
        }
      }
    }
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }
  .list-inline {
    margin: 0 0 20px;
    padding: 0;
    text-align: center;
    li {
      margin: 0 0 0 5px;
      display: inline-block;
      font-family: 'Raleway', Helvetica, Arial, sans-serif;
      font-size: 14px;
      list-style-type: none;
      a {
        color: #fff;
        &:hover, &:focus {
          color: #869baf;
          text-decoration: none;
        }
      }
      &:after {
        margin-left: 10px;
        position: relative;
        content: "\b7";
        color: #fff;
      }
      &:last-child:after {
        margin: 0;
        content: "";
      }
    }
  }
}
.nav-bottom{
  padding: 0;
  margin: 0;
}

form.navbar-form .navbar{
  padding:0;
  margin:0;
}

#bootom-Ganjamap{
background-color: inherit;
  

}


.pagination {
  background: white;
  cursor: default;
  /* self-clearing method: */
  a, span, em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px;
  }
  .disabled {
    color: #999999;
    border: 1px solid #dddddd;
  }
  .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    border: 1px solid #2e6ab1;
  }
  a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5;
    &:hover, &:focus {
      color: #000033;
      border-color: #000033;
    }
  }
  .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center;
    b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em;
    }
  }
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

* {
  html .pagination {
    height: 1%;
  }
  &:first-child + html .pagination {
    overflow: hidden;
  }
}




div.input-group-btn:nth-child(2) > button:nth-child(1) {
  
  font-weight: $btn-font-weight;
  border: 2px solid;
  
  @include button-size($padding-base-vertical, $padding-base-horizontal, $font-size-base, $line-height-base, $border-radius-base-btn-search);
 
  &:hover,
  &:focus {
    color: $btn-default-color;
    text-decoration: none;
  }

  }

ol.list-tweets {
  margin: 0;
  padding: 0;
  li {
    margin: 0 0 30px;
    clear: both;
    list-style-type: none;
    p {
      margin: 0;
      color: #333;
    }
    small {
      font-size: 12px;
      a {
        color: #777;
        &:hover {
          color: #388ce0;
        }
      }
    }
  }
}

/* Testimonial Widget */

.well.testimonial {
  padding: 60px;
  position: relative;
  .testimonial-image {
    margin: 0 60px 0 0;
    width: 210px;
    display: inline;
    position: relative;
    img {
      width: 210px;
      -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
      -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
      -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -o-border-radius: 3px;
      border-radius: 3px;
    }
  }
  .testimonial-detail {
    width: 655px;
    display: inline;
    position: relative;
    text-shadow: 0 1px 0 #fff;
    blockquote {
      margin: 0 0 10px 0;
      padding: 0;
      position: relative;
      border: none;
      font-family: 'Merriweather', Georgia, Times New Roman, serif;
      font-size: 18px;
      font-style: italic;
      line-height: 1.5;
      color: #777;
    }
    p {
      margin: 0;
      a {
        font-weight: bold;
      }
    }
  }
}

/* Features horizontal list */

ul {
  &.feature-horizontal-list {
    margin: 0 0 20px;
    li {
      padding: 20px 0 20px 85px;
      width: 290px;
      display: inline-block;
      vertical-align: top;
      position: relative;
      border-left: 1px solid #e0e0e0;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      .fa {
        position: absolute;
        top: 22px;
        left: 30px;
        font-size: 36px;
      }
      p {
        margin: 0 20px 0 0;
      }
      &.first {
        border: none;
      }
    }
  }
  &.feature-horizontal-list-3 li {
    margin: 0;
    padding: 0 20px;
    width: 50%;
    text-align: center;
    border-left: 1px solid #e0e0e0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    [class*=" fa-"] {
      margin: 0 0 10px;
      position: relative;
      top: auto;
      left: auto;
      font-size: 70px;
    }
    p {
      margin: 0;
    }
    &.first {
      margin-left: -3px;
    }
    width: 33.33%;
    [class*=" fa-"] {
      font-size: 35px;
    }
    &.first {
      margin-left: -6px;
    }
  }
  &.features-icon-list {
    margin: 0;
    padding: 0;
    li {
      margin: 0 0 30px;
      position: relative;
      text-align: left;
      list-style-type: none;
      [class*=" fa-"] {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 60px;
        font-size: 45px;
        text-align: center;
      }
      h3, p {
        margin: 0 20px 5px 75px;
        text-align: left;
      }
      &:last-child {
        margin: 0;
      }
    }
  }
}

/* Features icon list */

.list-circle-icons li {
  margin: 0 5px 10px;
  padding: 10px;
  height: 90px;
  width: 90px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  line-height: 42px;
  background: #388ce0;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  color: #fff;
  [class*=" fa-"] {
    font-size: 45px;
    line-height: 1.6;
    color: #fff;
  }
}

.list-circle-icons-small li {
  height: 45px;
  width: 45px;
  line-height: 24px;
  [class*=" fa-"] {
    font-size: 24px;
    vertical-align: top;
    line-height: 1.2;
  }
}

.list-circle-icons li {
  &.red {
    background: #e45f56;
  }
  &.green {
    background: #21bc5f;
  }
  &.purple {
    background: #7461aa;
  }
}

.center {
  text-align: center;
  h2, h3, p {
    text-align: center;
  }
}